 body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 20px;
            background-color: #f4f4f4;
        }
        section {
            background-color: #fff;
            padding: 15px; /* Mengatur jarak di dalam section */
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px; /* Jarak antara section */
        }
        h1 {
            color: #333;
            margin-bottom: 10px; /* Mengatur jarak antara judul dan paragraf */
        }
        h2 {
            color: #555;
            margin-top: 20px; /* Jarak di atas judul h2 */
            margin-bottom: 10px; /* Jarak di bawah judul h2 */
        }
        p {
            color: #666;
            margin-bottom: 15px; /* Mengatur jarak di bawah paragraf */
        }
        ul {
            padding-left:0px; /* Jarak dari sisi kiri */
            margin: 0; /* Menghapus margin default */
        }
        li {
            margin-bottom: 5px; /* Jarak antar item dalam list */
        }
        a {
            color: #007BFF;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
