 body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 20px;
            background-color: #f4f4f4;
        }
        section {
            background-color: #fff;
            padding: 15px; 
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px; 
        }
        h1 {
            color: #333;
            margin-bottom: 10px; 
        }
        h2 {
            color: #555;
            margin-top: 20px; 
            margin-bottom: 10px;
        }
        p {
            color: #666;
            margin-bottom: 15px; 
        }
        ul {
            padding-left:20px; 
            margin: 0; 
        }
        li {
            margin-bottom: 5px; 
        }
        a {
            color: #007BFF;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
 }
        table {
            margin-bottom: 50px;
        }
        table, th, td {
            border: 1px solid white;
            border-collapse: collapse;
        }
        th, td {
            padding: 10px;
            text-align: center;
        }
        h1, h4, p {
            text-align: center;
        }
        h1 {
            text-decoration: underline;
        }
        footer {
            margin-top: 50px;
            text-align: center;
        }

